<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="SourceFolder" value="" />
    <add key="TargetWeb" value="" />
    <add key="TargetLibrary" value=""/>
    <add key="User" value="" />
    <add key="Password" value="" />
  </appSettings>
</configuration>
